CallKitPrototype.xcworkspace/xcuserdata/danielhorvath.xcuserdatad/UserInterfaceState.xcuserstate
CallKitPrototype.xcworkspace/xcuserdata/danielhorvath.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
